body {
  background:#FDF6E3 !important;
}

._sidebar,._list-item, ._list-picker-head {
  background:#FDF6E3 !important;
}

._list-item.active, ._list-item.active:hover {
  color: #fff !important;
  background: #398df0 !important;
  box-shadow: inset -1px 0 #196fc2 !important;
}

pre  {
  background: #EEE8D5 !important;
  border: 1px solid #93A1A1 !important;
}


body:not(._native-scrollbars) *::-webkit-scrollbar-track {
   background: #FDF6E3 !important; 
   border-color: #FDF6E3 !important;
}

body:not(._native-scrollbars) ._content {
  -webkit-padding-start: .625rem !important;
  -webkit-padding-end: .75rem !important;
}

body:not(._native-scrollbars) *::-webkit-scrollbar {
  -webkit-appearance: none !important;
}

body:not(._native-scrollbars) *::-webkit-scrollbar:vertical {
  width: 16px !important;
}

body:not(._native-scrollbars) *::-webkit-scrollbar:horizontal {
  height: 16px !important;
}

body:not(._native-scrollbars) *::-webkit-scrollbar-button,
body:not(._native-scrollbars) *::-webkit-scrollbar-corner {
  display: none !important;
}

body:not(._native-scrollbars) *::-webkit-scrollbar-track {
  background: #FDF6E3 !important;
  border: 0px !important;
}

body:not(._native-scrollbars) *::-webkit-scrollbar-track:hover {
  background: #FDF6E3 !important;
}

body:not(._native-scrollbars) *::-webkit-scrollbar-track:vertical {
  border-width: 0 0 0 1px !important
}

body:not(._native-scrollbars) *::-webkit-scrollbar-track:vertical:corner-present {
  border-width: 0 0 1px 1px !important;
  border-radius: 0 0 0 2px !important
}

body:not(._native-scrollbars) *::-webkit-scrollbar-track:horizontal {
  border-width: 1px 1px 0 1px !important;
  border-radius: 2px 2px 0 0 !important
}

body:not(._native-scrollbars) *::-webkit-scrollbar-thumb {
  min-height: 2rem !important;
  background: #6c6c6f !important;
  background-clip: padding-box !important;
  border: 5px solid transparent !important;
  border-radius: 10px !important;
}

body:not(._native-scrollbars) *::-webkit-scrollbar-thumb:hover,
body:not(._native-scrollbars) *::-webkit-scrollbar-thumb:active {
  background-color: #949697 !important;
  border-width: 4px !important;
}

body:not(._native-scrollbars) ._sidebar::-webkit-scrollbar {
  width: 10px !important
}

body:not(._native-scrollbars) ._sidebar::-webkit-scrollbar-track {
  background: #FDF6E3 !important;
  border: 0 !important
}

body:not(._native-scrollbars) ._sidebar::-webkit-scrollbar-thumb {
  border-width: 3px !important
}

body:not(._native-scrollbars) ._sidebar::-webkit-scrollbar-thumb:hover,
body:not(._native-scrollbars) ._sidebar::-webkit-scrollbar-thumb:active {
  border-width: 2px !important
}
